{% extends "layout2.html" %} {% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="food">What did you eat?</label>
            <input type="text" placeholder="Food" class="form-control" id="food">
        </div>
        <div class="form-group" id="feelingsForm">
            <label for="feelings">How do you feel about it?</label>
            <br>
            <label class="image-checkbox" title="Content">
                <img src="/static/img/content.png" id="content" value = -1 class="img-rounded" alt="content" width="83" height="75p">
                
            </label>
            <label class="image-checkbox" title="Happy">
                <img src="/static/img/happy.png" id="happy" value = -1 class="img-rounded" alt="happy" width="83" height="75p">
               
            </label>
            <label class="image-checkbox" title="Excited">
                <img src="/static/img/excited.png" id="excited" value = -1 class="img-rounded" alt="excited" width="83" height="75p">
               
            </label>
            <label class="image-checkbox" title="Neutral">
                <img src="/static/img/neutral.png" id="neutral" value = -1 class="img-rounded" alt="neutral" width="83" height="75p">
                
            </label>
            <label class="image-checkbox" title="Angry">
                <img src="/static/img/angry.png" id="angry" value = -1 class="img-rounded" alt="angry" width="83" height="75p">
                
            </label>
            <label class="image-checkbox" title="Frustrated">
                <img src="/static/img/frustrated.png" id="frustrated" value = -1 class="img-rounded" alt="frustrated" width="83" height="75p">
               
            </label>
            <label class="image-checkbox" title="Sick">
                <img src="/static/img/sick.png" id="sick" value = -1 class="img-rounded" alt="sick" width="83" height="75p">
                
            </label>
            <label class="image-checkbox" title="Sad">
                <img src="/static/img/sad.png" id="sad" value = -1 class="img-rounded" alt="sad" width="83" height="75p">
                
            </label>
            <label class="image-checkbox" title="Disappointed">
                <img src="/static/img/disappointed.png" id="disappointed" value = -1 class="img-rounded" alt="disappointed" width="83" height="75p">
                
            </label>
        </div>
    </div>
    <TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3> 
<TR>
<TD COLSPAN="7" ALIGN=center><B>November 2016</B></TD>    <!–– get the month from data base ––>
</TR>

<TR> 
<TD ALIGN=center>Sun</TD>
<TD ALIGN=center>Mon</TD>
<TD ALIGN=center>Tue</TD>
<TD ALIGN=center>Wed</TD>
<TD ALIGN=center>Thu</TD>
<TD ALIGN=center>Fri</TD>
<TD ALIGN=center>Sat</TD>
</TR>
<TR> 
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center>
1
</TD>
</TR>
<TR> 
<TD ALIGN=center>2</TD>
<TD ALIGN=center>3</TD>
<TD ALIGN=center>4</TD>
<TD ALIGN=center>5</TD>
<TD ALIGN=center>6</TD>
<TD ALIGN=center>7</TD>
<TD ALIGN=center>8</TD>
</TR>
<TR> 
<TD ALIGN=center>9</TD>
<TD ALIGN=center>10</TD>
<TD ALIGN=center>11</TD>
<TD ALIGN=center>12</TD>
<TD ALIGN=center>13</TD>
<TD ALIGN=center>14</TD>
<TD ALIGN=center>15</TD>
</TR>
<TR> 
<TD ALIGN=center>16</TD>
<TD ALIGN=center>17</TD>
<TD ALIGN=center>18</TD>
<TD ALIGN=center>19</TD>
<TD ALIGN=center>20</TD>
<TD ALIGN=center>21</TD>
<TD ALIGN=center>22</TD>
</TR>
<TR> 
<TD ALIGN=center>23</TD>
<TD ALIGN=center>24</TD>
<TD ALIGN=center>25</TD>
<TD ALIGN=center>26</TD>
<TD ALIGN=center>27</TD>
<TD ALIGN=center>28</TD>
<TD ALIGN=center>29</TD>
</TR>
<TR> 
<TD ALIGN=center>30</TD>
<TD ALIGN=center>31</TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>

</TR>
</TABLE>
    <div class="col-md-4">
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea class="form-control" rows="11" id="notes"></textarea>
        </div>
        <button type="button" class="btn btn-default" id="submit" onclick="enterFeelings()">Go</button>
    </div>
</div>
{% endblock %}
