{% extends "layout2.html" %} {% block body %}
<a href="http://www.nationaleatingdisorders.org/">National Eating Disorders Association</a> provides many resources and hotlines to contact for help for people struggling with eating disorders, unhealthy relationships with food, or people who know others who do. 
<br>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;Toll free, confidential helpline: 1-800-931-2237
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;Crisis Text Help: text 'NEDA' to 741741 for a trained volunteer's help
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.nationaleatingdisorders.org/helplinechat">Instant messaging option helpline</a> for those who prefer online messaging over talking over the phone
<br>
<br>
<br>
Similar sites also provide similar resources:
<br>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.eatingdisorderhope.com/">Eating Disorder Hope</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.eatingrecoverycenter.com/resources/">Eating Recovery Center</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bulimia.com/">Bulimia</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://bedaonline.com/">Binge Eating Disorder Association</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://edrcsv.org/">Eating Disorder Resource Center</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.anred.com/">Anorexia Nervosa & Related Eating Disorders</a>
<br>
<br>
<br>
<br>
{% endblock %}