{% extends "layout.html" %} {% block body %}
<div id="accountStuff">
    <div class="row" class="logo">
        <img id="logo" src="static/img/logo.png">
    </div>
    <div class="row">
        <h2>Login</h2>
        <form>
            <dl>
                <label>Username:</label>
                <input type=text id="username" name=username>
                <label>Password:</label>
                <input type=password id='password' name=password>
                <input type=submit value=Login onclick="login($('#username').val(), $('#password').val())">
            </dl>
        </form>
    </div>
    <div class="row">
        <h2>Create a User</h2>
        <form>
            <dl>
                <label>Username:</label>
                <input type=text id="username" name=username>
                <label>Password:</label>
                <input type=password id='password' name=password>
                <input type=submit value="Create a User" onclick="createUser($('#username').val(), $('#password').val())">
            </dl>
        </form>
    </div>
</div>
{% endblock %}
